html {
    background-color: lightgrey;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.content{
    width: 476px;
    background-color: white;
    margin: 20vh auto;
    text-align: center;
    padding: 8px;

}
.text.one {
    padding-top: 9px;
    padding-bottom: 12px;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;

}
.task.add {
    min-height: 45px;
    background: #FFFFFF;
    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 8px;
    vertical-align: baseline;
    transition: .3s;
}
.task.add.error {
    background-color: rgba(195, 30, 30, 0.4);
    border-color: rgba(255, 0, 0, 0.7);
    transition: .3s;
}
.new.task {
    font: inherit;
    border: none;
    border-radius: inherit;
    background-color: transparent;
    padding: 12px;
    width: 91%;
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
.plus{
    text-color: gray;
}
.sumbit.task{
    background: url(../Style/cross.svg) no-repeat center;
    transform: rotate(45deg);
    width: 13px;
    height: 13px;
    margin: 12px;
    border: 0;
}

.not-completed{
    margin-bottom: 8px;
    min-height: 45px;
    border: 1px solid #989898;
    border-radius: 6px;
    transition: 0.2s;
    padding: 0;
    display: flex;
    min-height: inherit;
    justify-content: space-between;
    padding: 12px;
    transition: .3s;
}

.done{
    background-color: #F4F4F4;
    transition: .3s;
}
.add-task input{
    padding: 2px 12px 0 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    appearance: none;
    outline: 1px solid #998899;
}

.not-completed.done input{
    background-color: #C4C4C4;
    transition: .3s;
}

.add-task label{
    max-width: 370px;
    margin-right: auto;
    margin-left: 12px;
    word-wrap: break-word;
}

.add-task button{
    border: none;
    padding: 0;
    width: 16px;
    height: 15px;
    background: url(/Style/cross.svg) no-repeat;
}